@import "variables.scss";

footer.navbar {
  margin-top: auto;
  padding-bottom: 1em;
  color: $mid-color;
  font-family: Inconsolata, monospace;

  a {
    color: $mid-color;
  }

  a:hover, a:focus {
    color: $light-color;
  }
}

.footer-list {
  list-style: none;
  padding-left: 1em;
}
