$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto);      // Main font
@import url(https://fonts.googleapis.com/css?family=Michroma);    // Placeholder Software branding
@import url(https://fonts.googleapis.com/css?family=Inconsolata); // Footer and code
@import url(https://fonts.googleapis.com/css?family=Bangers);     // Big title

@import "variables.scss";

a {
    &:hover {
        text-decoration: none;
    }
}

.underline-links {
  a {
      text-decoration: underline;
  }
}

body {
  background-color: $bg-color;
  font-family: Roboto, sans-serif;
}

@import "header.scss";
@import "body.scss";
@import "footer.scss";
