$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Michroma);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Bangers);

$bg-color: hsl(200, 7%, 97%);
$primary-color: hsl(187, 100%, 52%);

body {
  background-color: $bg-color;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  font-family: Bangers, cursive;
  margin-bottom: 1em;
}

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 200%;
  background: $primary-color;
  z-index: -1;
  transform: skewY(-2deg);
}

.header-inner {
  padding: 10px;
  padding-top: 0;
  padding-left: 1em;
  font-size: 10vw;
}

.header h1 {
  font-size: 1em;
  display:inline-block;
}

.header h2 {
  display: inline-block;
  font-size: 0.4em;
}

.header-callout-container {
    right: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.header-callout {
    font-family: sans-serif;
    float: right;
    margin-right: 10px;
    padding: 10px 50px 10px 10px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    color: #eee;
}

a.header-callout:hover, a.header-callout:focus {
    text-decoration: none;
    background-color: #444;
    color: #eee;
}

.header-callout.reddit {
    background: url("../images/reddit-32x32.png") #333333 no-repeat 95% 50%;
}

.header-callout.github {
    background: url("../images/GitHub-Mark-Light-32px.png") #333333 no-repeat 95% 50%;
}

.header-callout.unity {
    background: url("../images/unity.png") #333333 no-repeat 95% 50%;
}

#sidebar {
    background: #333333;
    text-align: center;
    border-radius: 0 7px 7px 0;
    width: inherit;
    max-width: 300px;
    font-weight: bold;
}

#sidebar.affix {
    width: inherit;
}

.nav > li > a {
    color: #eee;
    font-family: sans-serif;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #444;
}

.nav-options-container {
  float: right;
  display: inline-block;
  position: absolute;
  top: 3em;
}

@media screen and (max-width: 768px) {
  .header {
    background: $primary-color;
    margin: 0;
  }

  .header .skew:before {
    display: none;
  }

  .affix {
    position: inherit;
  }

  #sidebar {
    border-radius: 0;
    background: #333333;
    text-align: center;
    width: 100%;
    max-width: none;
  }

  .header-callout {
      clear: both;
      box-shadow: none;
      width: 100%;
      text-align: center;
      margin-right: 0;
      border-radius: 0;
  }
}
