$bg-color: hsl(207, 7%, 95%);

$primary-color: hsl(187, 100%, 52%);

$dark-color: hsl(187, 55%, 5%);
$mid-color: hsl(200, 7%, 60%);
$light-color: hsl(200, 14%, 85%);

$negative-color: hsl(7, 100%, 52%);
