@import "variables.scss";

body {
  background-color: $bg-color;
  font-family: $bulk-font;
  font-size: 15px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.extra-row-space { margin-top: 1em; }


.vertical-center-row {
  display: flex;
  align-items: center;
}

.main-content {
    padding-bottom: 3em;
    padding-top: 2em;

    @media (max-width: 1164px) {
      margin-left: 0;
      padding-left: 0;
    }
}

.section-header {
  font-family: $title-font;
  font-size: 7em;
  color: $dark-color;

  &.dissonance {
    font-family: Bangers, sans-serif
  }
  &.wetstuff {
    font-family: 'Permanent Marker', cursive
  }
  &.fancyfolders {
    width: 100%;
    height: 100%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-size: 1em;
    font-variant-caps: small-caps;
  }
  &.wasmbox {
    font-family: 'Open Sans', 'sans-serif';
    font-variant-caps: small-caps;
    font-weight: 800;
  }

  @media (max-width: 992px) {
    font-size: 5.8em;
  }

  @media (max-width: 767px) {
    font-size: 5em;
  }

  @media (max-width: 393px) {
    font-size: 3em;
  }
}

.icon-section {
  
  --bgradialcol1: #{$mid-color};
  --bgradialcol2: #{darken($mid-color, 5%)};
  --asset-bg-color: #{$light-color};
  --asset-border-color: #{$primary-color};

  &.dissonance {
    --asset-bg-color: #4DB5FF;
    --asset-border-color: #2b8cd2;
  }
  &.wetstuff {
    --asset-bg-color: #4DB5FF;
    --asset-border-color: #2b8cd2;
  }
  &.fancyfolders {
    --asset-bg-color: #23F15D;
    --asset-border-color: #14ca47;
  }
  &.wasmbox {
    --asset-bg-color: #654ff0;
    --asset-border-color: #4431c5;

    font-weight: 800;

    &:hover {
      color: $light-color;
    }
  }

  color: $dark-color;
  display: block;

  padding: 10px;
  margin: 10px;
  margin-left: 0;
  
  background: $mid-color;
  border: $mid-color 3px solid;
  border-radius: 0px 35px 35px 0px;

  transition:
    border-radius 0.175s,
    border-color 0.175s;

  background: radial-gradient(circle at 15% center, var(--bgradialcol1) 40%, var(--bgradialcol2) 90%);

  &:hover {
    --bgradialcol1: var(--asset-bg-color);
    --bgradialcol2: var(--asset-border-color);

    border-radius: 0px 6px 6px 0px;
    color: inherit;

    border-color: var(--asset-border-color);
  }

  @media (max-width: 767px) {
    border-radius: 0px 15px 15px 0px;
  }

  .container {
    width: 100%
  }

  .icon-section-icon {
    padding-top: 20px;
  }
}

.icon-section-icon svg {
  height: 256px;
  width: 100%;
}