@import "variables.scss";

.navbar {
  background-color: $dark-color;
  border-radius: 0;

  font-family: $bulk-font;
  font-weight: bold;

  border: none;

  margin-bottom: 0;

  .navbar-brand {
    color: $light-color;
    stroke: $light-color;
    fill: $light-color;
    font-size: 1.7em;
    letter-spacing: -1px;
  }

  .nav {
    li {
      a {
        color: $mid-color;
        
        &.buy-link {
            color: $primary-color;
        }
      }

      a:hover, a:focus {
        color: $light-color;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    .navbar-brand {
        font-size: 1.1em;
    }
  }
}

.navbar-social {
  height: 1em;
  width: 1em;
  box-sizing: content-box;
  fill: $bg-color;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: inherit;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: inherit;
}

.site-title-row {
  display: block;
  color: $primary-color;
  
  &:hover, &:active, &:focus, &:visited {
    outline: none;
    color: inherit;
  }
}

.site-alert-row {
  background-color: $bg-color;
  font-size: 0.75em;
  line-height: 2em;
  vertical-align: middle;
  font-family: $bulk-font;
  font-size: 16px;
  cursor: pointer;
}

.site-title-container {
  z-index: 1;
  width: 100%;
  font-family: $title-font;
  font-size: 5.5vw;

  @media (min-width: 1164px) {
    font-size: 69px;
    text-align: center;
  }
}

.site-title {
    display: inline-block;
    padding-right: 0.35em;

    @at-root h1#{&} {
      font-size: 2em;
    }

    @at-root h2#{&} {
      font-size: 1.25em;
    }
}
