$bg-color: hsl(0, 0%, 7%);

$primary-color: hsl(133, 100%, 60%);

$dark-color: hsl(60, 78%, 2%);
$mid-color: hsl(200, 7%, 60%);
$light-color: hsl(200, 14%, 85%);

$negative-color: complement($primary-color);

.fill-bg { fill: $bg-color; }
.fill-primary { fill: $primary-color; }
.fill-dark { fill: $dark-color; }
.fill-mid { fill: $mid-color; }
.fill-light { fill: $light-color; }
.fill-negative { fill: $negative-color; }

.border-bg { border-color: $bg-color; }
.border-primary { border-color: $primary-color; }
.border-dark { border-color: $dark-color; }
.border-mid { border-color: $mid-color; }
.border-light { border-color: $light-color; }
.border-negative { border-color: $negative-color; }

$title-font: 'Permanent Marker', cursive;
$bulk-font: Roboto, sans-serif;
