@import "variables.scss";

.cmp-products {
  width: 100%;
  max-width: 100%;
  font-size: 1.2em;

  th {
    padding: 8px;

    &.dissonance {
      background-color: $primary-color;
      font-family: $title-font;
      font-weight: normal;
      font-size: 1.4em;
      letter-spacing: 0.65px;
    }
    
    &.df-voice {
      background-color: hsl(100, 100%, 32%);
    }

    &.pun-voice {
      background-color: hsl(43, 90%, 49%);
    }
  }
}

.tip-indicator {
    vertical-align: super;
    font-size: 0.75em;
    padding-left: 0.6em;
}

.cmp-header {

  font-size: 1.3em;
  padding-bottom: 0.5em;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .glyphicon {
    font-size: 2em;
    vertical-align: middle;
    padding-right: 0.4em;
  }

}

.comparison-table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;

    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:nth-child(2) > .glyphicon-ok {
          color: $primary-color;
      }

      .glyphicon {
          display:block;
          text-align:center;
          
          font-size: 1.3em;
          @media (min-width: 767px) {
            font-size: 1.8em;
          }
      }

      .glyphicon-ok {
          color: $mid-color;
      }

      .glyphicon-remove {
        color: $light-color;
      }
    }

    tr {
      th {
        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }
}

.check-column {
    width: 20%;
    text-align: center;
}
