@import "variables.scss";

.navbar {
  background-color: $dark-color;
  border-radius: 0;

  font-family: $bulk-font;
  font-weight: bold;

  border: none;

  margin-bottom: 0;

  .navbar-brand {
    color: $light-color;
    stroke: $light-color;
    fill: $light-color;
    font-size: 1.7em;
    letter-spacing: -1px;

    &.placeholder {
      @media (max-width: 393px) {
        width: 75%;
      }
    }
  }

  .nav {
    li {
      a {
        color: $mid-color;
        
        &.buy-link {
            color: $primary-color;
        }
      }

      a:hover, a:focus {
        color: $light-color;
      }
    }
  }
}

.navbar-social {
  height: 1em;
  width: 1em;
  box-sizing: content-box;
  fill: $bg-color;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: inherit;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: inherit;
}

.site-alert-row {
  background-color: $bg-color;
  font-size: 0.75em;
  line-height: 2em;
  vertical-align: middle;
  font-family: $bulk-font;
  font-size: 16px;
  cursor: pointer;
}

.site-title-container {
  z-index: 1;
  width: 100%;
  position: relative;

  background-image: url(/images/WetStuffBanner.jpg);
  background-size: cover;

  height: 14vh;
  width: 100%;
  min-height: 200px;

  .image-container {

    .main-title {
      text-align: center;
      font-family: $title-font;
      color: $light-color;

      font-size: 14vmin;
      margin-top: -2.5vmin;
    }
  }
}
